In [219]:
import numpy as np

In [220]:
import pandas as pd

In [221]:
users=pd.read_csv('/home/HDUSER/users.csv')

In [222]:
news=pd.read_csv('/home/HDUSER/news.csv')

In [223]:
users.shape

(10, 7)

In [224]:
users.head()

,user_id,tweet_id,tweet,summary,date,retweets,favorites
0,xyz123,22,president trump visited china. Hope will have ...,president trump visit china success US,09/11/17,78,56
1,yudi,14,"Earthquake magnitude 8.5 in North India, epice...",Earthquake Delhi 8.5 North India,05/11/17,2,4
2,abc123,11,"Roughly speaking, level of pollution in some p...",Pollution Delhi Smoking Cigarettes Smog,09/11/17,32,29
3,alpha,10,Halloween party for kids in USA organized. Cho...,Halloween party kids USA chocolates sweets,10/11/17,42,41
4,beta,1,prisoners can't move freely. None of us have e...,Rohtak jail prisoner out on bail|prisoners fre...,09/11/17,75,21

In [225]:
news.shape

(20, 4)

In [226]:
news.head()

,news_id,news_link,news_summary,date
0,10.0,https://economictimes.indiatimes.com/news/poli...,To encourage use of public transport during Od...,09/11/17
1,11.0,http://www.firstpost.com/world/donald-trumps-c...,On the anniversary of his surprise victory in ...,09/11/17
2,12.0,https://timesofindia.indiatimes.com/pm-modi-me...,India to talk on its NSG bid with New Zealand ...,NaN
3,13.0,https://www.ndtv.com/tamil-nadu-news/rs-1-430-...,The raids also targetted Jaya TV which turned ...,NaN
4,14.0,http://www.thehindubusinessline.com/news/natio...,Congress Vice-President Rahul Gandhi continued...,NaN

In [227]:
users=users.sort_values(by=["user_id"])

In [273]:
prof=pd.read_csv('/home/HDUSER/profile.csv')

In [274]:
prof=prof.sort_values(by=["user_id"])

In [275]:
prof.head()

,user_id,user_name,followers,following,linked,website,verified,description
0,abc123,ABC,350,129,True,http://www.abc.blogspot.com,True,NaN
3,alpha,ALPHA,790,5890,False,http://www.alpha.blogspot.com,False,NaN
4,beta,BETA,90000,1324,True,www.beta.com,True,"Famous Bollywood Actor, you must know me."
1,xyz123,XYZ,200,190,False,NaN,False,I love to party. Student Delhi University. Bol...
2,yudi,YUDI,46,700,False,NaN,False,BJP Supporter. Modi Modi Modi !

In [276]:
prof = prof.reset_index(drop=True)

In [277]:
prof.head()

,user_id,user_name,followers,following,linked,website,verified,description
0,abc123,ABC,350,129,True,http://www.abc.blogspot.com,True,NaN
1,alpha,ALPHA,790,5890,False,http://www.alpha.blogspot.com,False,NaN
2,beta,BETA,90000,1324,True,www.beta.com,True,"Famous Bollywood Actor, you must know me."
3,xyz123,XYZ,200,190,False,NaN,False,I love to party. Student Delhi University. Bol...
4,yudi,YUDI,46,700,False,NaN,False,BJP Supporter. Modi Modi Modi !

In [228]:
users.head()

,user_id,tweet_id,tweet,summary,date,retweets,favorites
2,abc123,11,"Roughly speaking, level of pollution in some p...",Pollution Delhi Smoking Cigarettes Smog,09/11/17,32,29
6,abc123,3,Three properties in the name of #DawoodIbrahim...,properties DawoodIbrahim relatives auctioned I...,09/11/17,12,41
3,alpha,10,Halloween party for kids in USA organized. Cho...,Halloween party kids USA chocolates sweets,10/11/17,42,41
7,alpha,4,Court in #Bihar's Bettiah orders filing of FIR...,Court Bihar Bettiah FIR Farooq Abdullah treaso...,10/11/17,96,23
8,alpha,5,Income Tax officials say unaccounted income of...,IncomeTax unaccounted income 1400 crore uneart...,09/11/17,197,250

In [229]:
users = users.reset_index(drop=True)

In [230]:
users.head()

,user_id,tweet_id,tweet,summary,date,retweets,favorites
0,abc123,11,"Roughly speaking, level of pollution in some p...",Pollution Delhi Smoking Cigarettes Smog,09/11/17,32,29
1,abc123,3,Three properties in the name of #DawoodIbrahim...,properties DawoodIbrahim relatives auctioned I...,09/11/17,12,41
2,alpha,10,Halloween party for kids in USA organized. Cho...,Halloween party kids USA chocolates sweets,10/11/17,42,41
3,alpha,4,Court in #Bihar's Bettiah orders filing of FIR...,Court Bihar Bettiah FIR Farooq Abdullah treaso...,10/11/17,96,23
4,alpha,5,Income Tax officials say unaccounted income of...,IncomeTax unaccounted income 1400 crore uneart...,09/11/17,197,250

In [231]:
t1=users['summary']

In [232]:
t2=news['news_summary']

In [233]:
t1=t1.str.lower()

In [234]:
t1

0              pollution delhi smoking cigarettes smog
1    properties dawoodibrahim relatives auctioned i...
2           halloween party kids usa chocolates sweets
3    court bihar bettiah fir farooq abdullah treaso...
4    incometax unaccounted income 1400 crore uneart...
5    rohtak jail prisoner out on bail|prisoners fre...
6               president trump visit china success us
7    congress power mann ki baat government rahul g...
8                     earthquake delhi 8.5 north india
9    pm narendra modi meets new zealand pm jacinda ...
Name: summary, dtype: object

In [235]:
t2=t2.str.lower()

In [236]:
from nltk.tokenize import word_tokenize
import nltk

def process(doc):
    tokens=word_tokenize(doc)
    words=[w.lower() for w in tokens]
    
    porter=nltk.PorterStemmer()
    stemmed_tokens=[porter.stem(t) for t in words]
    
    count=nltk.defaultdict(int)
    for word in words:
        count[word]+=1
    return count

In [237]:
def jaccard_similarity(query, document):
    intersection = set(query).intersection(set(document))
    union = set(query).union(set(document))
    return len(intersection)/len(set(query))

In [238]:
similarity=[]
i=0
for a in t1:
    for b in t2:
        a1=process(a)
        b1=process(b)
        x=jaccard_similarity(a1,b1)
        similarity.append(x)
    i=i+1

In [239]:
k=len(news.index)
print(k)

20

In [248]:
i=0
credibility=[]
j=0
while j<len(similarity):
    f=0
    tot=similarity[j]
    while (f<k):
        tot=max(tot,similarity[j])
        j=j+1
        f=f+1
    credibility.append(tot)
    total=0

In [249]:
print(users['user_id'])

0    abc123
1    abc123
2     alpha
3     alpha
4     alpha
5      beta
6    xyz123
7    xyz123
8      yudi
9      yudi
Name: user_id, dtype: object

In [250]:
for m in credibility:
    print(m)

0.6
0.1111111111111111
0.16666666666666666
0.1111111111111111
0.5454545454545454
0.125
0.8333333333333334
0.7777777777777778
0.4
0.25

In [251]:
print(len(users.index))

10

In [252]:
print(users['user_id'][0])

abc123

In [254]:
user=[]
i=1
m=credibility[0]
n=1
j=1
while (i<len(users.index)):
    if(users['user_id'][i-1]==users['user_id'][i]):
        m+=credibility[j]
        j+=1
        n+=1
    else:
        if(m>0):
            m=m/n
            user.append(m)
            m=0
            n=1
        m=credibility[j]
        j+=1
    i+=1
    
if(m>0):
    m=m/n
    user.append(m)

In [255]:
for m in user:
    print(m)

0.3555555555555555
0.2744107744107744
0.125
0.8055555555555556
0.325

In [278]:
cred=[]
for m in user:
    if (m>=0.65):
        cred.append("Highly Credible")
    elif(m>=0.40):
        cred.append("Credible")
    elif(m>=0.20):
        cred.append("Not Credible")
    else:
        cred.append("Highly Uncredible")

In [279]:
for m in cred:
    print(m)

Not Credible
Not Credible
Highly Uncredible
Highly Credible
Not Credible

In [280]:
from astropy.table import Table

In [281]:
t = Table([prof['user_id'], cred], names=('User', 'Credibility'), meta={'name': 'first table'})

In [282]:
t

<Table length=5>
 User     Credibility
object       str17
------ -----------------
abc123      Not Credible
 alpha      Not Credible
  beta Highly Uncredible
xyz123   Highly Credible
  yudi      Not Credible

In [262]:
t.show_in_notebook()

# Credibility on the basis of profile and tweet features

In [263]:
def check_valid(url):
    import urllib
    resp = urllib.request.urlopen(url)
    print(resp.url)
    return resp.getcode()

In [265]:
points=[]
i=0
while (i<len(prof.index)):
    point=0
    if(prof['verified'][i]==True):
        point+=2
    ratio=prof['followers'][i]/prof['following'][i]
    if(ratio>0.8):
        point+=2
    elif(ratio>0.4):
        point+=1
    if(prof['linked'][i]==True):
        point+=1
    if(len(str(prof['website'][i]))>5):
        point+=1
    if(len(str(prof['description'][i]))>5):
        point+=1
    points.append(point)
    i+=1

In [266]:
for m in points:
    print(m)

6
3
1
1
7

In [267]:
import re
i=1
point=0
n=1
if(users['retweets'][i-1]>75):
    point+=1
if(users['favorites'][i-1]>75):
    point+=1
points[i-1]+=point
while (i<len(points)):
    if(users['user_id'][i-1]!=users['user_id'][i]):
        point=0
        n=1
    else n+=1
    if(users['retweets'][i]>75):
        point+=1
    if(users['favorites'][i]>75):
        point+=1
    if(re.search("(?P<url>https?://[^\s]+)", users['tweet'][i])==1):
        url=re.search("(?P<url>https?://[^\s]+)", users['tweet'][i]).group("url")
        if(url_resolve(url)==200):
            point+=1
    points[i]+=(point/n)
    i+=1

In [268]:
for m in points:
    print(m)

6
3
1
2
10

In [269]:
i=0
while (i<len(points)):
    print("Credibility only on the basis of tweets",credibility[i])
    points[i]=points[i]/10
    credibility[i]=credibility[i]*0.75+0.25*points[i]
    print("Credibility after considering other factors",credibility[i])
    i+=1

Credibility only on the basis of tweets 0.6
Credibility after considering other factors 0.6
Credibility only on the basis of tweets 0.1111111111111111
Credibility after considering other factors 0.15833333333333333
Credibility only on the basis of tweets 0.16666666666666666
Credibility after considering other factors 0.15
Credibility only on the basis of tweets 0.1111111111111111
Credibility after considering other factors 0.13333333333333333
Credibility only on the basis of tweets 0.5454545454545454
Credibility after considering other factors 0.6590909090909091

In [270]:
cred_matrix=[]
for m in user:
    if (m>=0.65):
        cred_matrix.append("Highly Credible")
    elif(m>=0.40):
        cred_matrix.append("Credible")
    elif(m>=0.20):
        cred_matrix.append("Not Credible")
    else:
        cred_matrix.append("Highly Uncredible")

In [283]:
t8 = Table([prof['user_id'], cred_matrix], names=('User', 'Credibility'), meta={'name': 'second table'})

In [284]:
t8

<Table length=5>
 User     Credibility
object       str17
------ -----------------
abc123      Not Credible
 alpha      Not Credible
  beta Highly Uncredible
xyz123   Highly Credible
  yudi      Not Credible

# Building User Profiles based on their interests

In [123]:
text_files=['/home/HDUSER/data/sports','/home/HDUSER/data/entertainment','/home/HDUSER/data/health','/home/HDUSER/data/lifestyle','/home/HDUSER/data/politics','/home/HDUSER/data/relationships','/home/HDUSER/data/technology']

In [124]:
sports=""
entertainment=""
health=""
lifestyle=""
politics=""
relationships=""
technology=""
sports = open(text_files[0], 'r').read()
entertainment=open(text_files[1], 'r').read()
health=open(text_files[2], 'r').read()
lifestyle=open(text_files[3], 'r').read()
politics=open(text_files[4], 'r').read()
relationships=open(text_files[5], 'r').read()
technology=open(text_files[6], 'r').read()

In [125]:
category=["Sports","Entertainment","Health","Lifestyle","Politics","Relationships","Technology"]

In [126]:
categories=[sports,entertainment,health,lifestyle,politics,relationships,technology]

In [127]:
a=users['summary']
a=a.str.lower()

In [128]:
def get_similarity(dict1,dict2):
    all_words_list=[]
    for key in dict1:
        all_words_list.append(key)
    for key in dict2:
        all_words_list.append(key)
    all_words_list_size=len(all_words_list)
    v1=np.zeros(all_words_list_size,dtype=np.int)
    v2=np.zeros(all_words_list_size,dtype=np.int)
    i=0
    for key in all_words_list:
        v1[i]=dict1.get(key,0)
        v2[i]=dict2.get(key,0)
        i=i+1
    return cos_sim(v1,v2)

In [129]:
def cos_sim(a,b):
    dot_prod=np.dot(a,b)
    norm_a=np.linalg.norm(a)
    norm_b=np.linalg.norm(b)
    if(norm_a and norm_b):
        return dot_prod/(norm_a*norm_b)

In [ ]:
j=0
t4 = Table(names=('User', 'Sports', 'Entertainment','Health','Lifestyle','Politics','Relationships','Technology'), dtype=('S10','f8', 'f8', 'f8','f8', 'f8', 'f8','f8'))
for x in t1:
    i=0
    user_p=[users['user_id'][j]]
    print("\n\n\n\nUSER  --> ",users['user_id'][j],"\n------------------------------")

    x=process(x)
    for y in categories:
        y=process(y)
        sim=get_similarity(x,y)
        print(sim)
        user_p.append(sim)
        i+=1
    j+=1
    t4.add_row(user_p)

In [ ]:
t4.sort('User')
print(t4)

In [ ]:
t4.show_in_notebook()

In [132]:
i=0
while i<len(t4)-1:
    if(t4[i][0]==t4[i+1][0]):
        j=1
        while j<8:
            t4[i][j]+=t4[i+1][j]
            j+=1
        t4.remove_row(i+1)
        i=i-1
    i+=1

In [ ]:
print(t4)

In [ ]:
i=0
t3 = Table(names=('User', 'Interest'), dtype=('S10','S15'))
while i<len(t4):
    j=1
    user_p=["abc123"]
    #user_p=[prof['user_id'][i]]
    maxval=t4[i][j]
    maxindex=j
    while j<8:
        if(t4[i][j]>maxval):
            maxval=t4[i][j]
            maxindex=j
        j+=1
    user_p.append(category[maxindex-1])
    t3.add_row(user_p)
    i+=1
    
print('\n\n\n\n',t3)

In [ ]:
prof['user_id'][0]

In [ ]:
t3.show_in_notebook()

In [ ]:
import csv
from astropy.io import ascii
ascii.write(t3, 'user_profile.csv', format='csv', fast_writer=False)